process {
    withName: BUSCO_BUSCO {
        publishDir = [
            path: { "${params.outdir}/BUSCO_BUSCO/${meta.id}/${meta.genome_name}" },
        ]
        ext.prefix = { "${fasta.simpleName}" }
    }

    withName: DREP_DEREPLICATE {
        publishDir = [
            path: { "${params.outdir}/DREP_DEREPLICATE/${meta.id}" },
        ]
        ext.args = {[
            "-sa ${params.drep_ani}",
        ].join(" ")}
    }

    withName: CONTIG_CONCAT {
        ext.prefix = { "${fasta.simpleName}" }
    }

    withName: MMSEQS_TAXONOMY {

        ext.args = {[
            "--search-type ${params.mmseqs_search_type}",
        ].join(" ")}
    }

    
}